# Sass
.sass-cache

# Grav Specific
backup/*
!backup/.*
cache/*
!cache/.*
logs/*
!logs/.*
images/*
!images/.*
user/accounts/*
!user/accounts/.*

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
user/plugins/admin
