{% embed 'partials/base.html.twig' %}

    {% block content %}
    <div class="blog-outer">
        <div class="content-wrapper blog-content-item grid pure-g row">
            <div class="breadcrumbs block pure-u-sm-1">
            {% if config.plugins.breadcrumbs.enabled %}
                {% include 'partials/breadcrumbs.html.twig' %}
            {% endif %}
            </div>

            <div id="item" class="block pure-u-sm-1 pure-u-md-2-3 h-entry">
                {% include 'partials/blog_item.html.twig' with {'blog':page.parent, 'truncate':false} %}
            </div>
            <div id="sidebar" class="block size-1-3 pure-u-sm-1 pure-u-md-1-3">
                {% include 'partials/sidebar.html.twig' with {'blog':page.parent} %}
            </div>
        </div>
    </div>
    {% endblock %}

{% endembed %}
